html{
    min-height: 100%;   
}
body{
    /* margin:0;
    padding:0; */
    font-family: sans-serif;
    overflow-x: hidden;
  
}
.dashboard{
    background-color: rgb(189, 223, 213);
    min-height: 90vh;
    
}
.form-date{
    width: 250px!important; 
}
/* .form-table{
    table-layout: fixed;
    word-wrap: break-word;
} */
.form-login{
    width:400px;
}
.form-bouton{
    width: 250px;
}
.form-tables{
    min-height: 100px;
}
h2{
    background-color: beige;
    padding-top: 20px;
    padding-bottom: 20px;
}
.menu{
    width: 220px;
}
.bg-header{
    background: url(../images/ordinateur.jpg), no-repeat;
    height: 60vh;
}
.bg-title{opacity: 0.7;
}
